  :root{
    --orange-color:#FFA53D;
    
  }

  .title {
    
    text-align: center;
    margin-top: 20px;
    /* color: #444; */
  }

  .input-parameters{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:row ;
    color: var(--orange-color);
    /* padding: 10px; */
  }
  
  .input-parameters input{
    height: 20px;
    padding: 5px;
    margin: 10px;
    border: 2px #1e1e1f;
    border-radius: 10px;
    background-color: white;
  }
  /* .input-parameters input[type="file"] {
    display: none;
  } */

  /* .custom-file-upload {
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: black;
    background-color: var(--orange-color);
  }
 
  .custom-file-upload:hover{
    background-color: #68686a;
    color: white;
  } */

  .file-upload{
    color: black;
  }

  input[type=file]::file-selector-button {
    border: none;
    background: var(--orange-color);
    padding: 2.5px 10px;
    border-radius: 05px;
    color: black;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }

  .uploading-message {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .spinner {
    margin: 10px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  input[type=file]::file-selector-button:hover {
    background: #68686a;
  }


  .input-parameters .file-choose-button{
    margin-left: 20px;
    color: black;
    padding: 10px 20px;
    border: 1px #1e1e1f;
    border-radius: 20px;
    background-color: var(--orange-color);
    transition: background .2s ease-in-out;
    cursor: pointer;
  }

  .input-parameters .file-choose-button:hover{
    background-color: #68686a;
    color: white;

  }
  /* Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  hr{
    border: 1px #3b3b3c;
    background-color: #1e1e1f;
    color: #1e1e1f;
    height: 2px

  }
  
  table thead {
    background-color: #1e1e1f;
    color: white;
  }
  
  table tbody{
    background-color: #282829;
  }
  table th,
  table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #3b3b3c;
    color: white;
  }
  
 
  table button {
    background-color: var(--orange-color);
    color: #1e1e1f;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: background .2s ease-in-out;
  }
  
  table button:hover {
    background-color: #68686a;
    color: white;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .upload-section {
      flex-direction: column;
      gap: 10px;
    }
  
    table th,
    table td {
      font-size: 14px;
      padding: 8px;
    }
  }
  
  