/* .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
   */
  /* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  
  
  
  /* General Styles */
  /* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  } */
  
  .title {
    
    text-align: center;
    margin-top: 20px;
    /* color: #444; */
  }

  .input-parameters{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:row ;
    color: white;
    /* padding: 10px; */
  }
  
  .input-parameters input{
    height: 20px;
    padding: 5px;
    margin: 10px;
    border: 2px #1e1e1f;
    border-radius: 10px;
    background-color: white;
  }
  .file-choose-button{
    border:2px #3b3b3c;
  }

  .file-choose-button:hover{
    border:2px #68686a;
  }

  .custom-file-input {
    background-color: #f0f0f0; /* Light gray background */
    border: 2px solid #3a3a3a; /* Blue border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Add some padding */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Change cursor on hover */
    color: #3a3a3a; /* Blue text */
  }
  
  .custom-file-input:hover {
    background-color: #3a3a3a; /* Blue background on hover */
    color: #fff; /* White text on hover */
  }

  .input-parameters div{
    border: 2px white;
    padding: 5px;
    cursor: pointer;

  }
  /* Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  hr{
    border: 1px #3b3b3c;
    background-color: #1e1e1f;
    color: #1e1e1f;
    height: 2px

  }
  
  table thead {
    background-color: #1e1e1f;
    color: white;
  }
  
  table th,
  table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #3b3b3c;
    color: white;
  }
  
  /* table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  
  /* table tbody tr:hover {
    background-color: #f1f1f1;
  } */
  
  table button {
    background-color: #3b3b3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
  }
  
  table button:hover {
    background-color: #68686a;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .upload-section {
      flex-direction: column;
      gap: 10px;
    }
  
    table th,
    table td {
      font-size: 14px;
      padding: 8px;
    }
  }
  
  