/* General styling */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f9f9f9; */
  background-color:#0F0F0F;
}


/* h1 {
  text-align: center;
} */

/* .input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-upload, .btn-send {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-upload:hover, .btn-send:hover {
  background-color: #45a049;
}


.chat-box {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.message {
  margin: 10px 0;
}

.message.you {
  text-align: right;
}

.message strong {
  color: #4caf50;
}

.chat-input {
  display: flex;
  justify-content: space-between;
}

.chat-input input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.chat-input button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
} */
