/* General Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    max-width:100%;
  }
  
  
  /* Full-screen container */
  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    /* color: white; */
  }

  /* Title styling */
  h1 {
    font-size: 250%;
    margin-bottom: 20px;
    color:white;
  }
  
  /* Button styling */
  .tabs {
    height: 20%;
    max-width: 100%;
    width: 100%;
    padding: 10% 0%;
    font-weight: bold;
    border: none;
    border-radius: 6%;
    transition: all 0.3s ease;
  }

  .tab-link {
    text-decoration: none;
    padding: 5% 10%;
    margin: 0 10px;
    text-transform: uppercase;
    background-color:#1e1e1f;
    background-size: 200% auto;
    color: white;
    transition: 0.5s;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 0 8px #505050;
  }


    
  .tab-link:hover {
    background-color:#505050;
  }
  
   .tab-link:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
  